# Garmin token files
.garminconnect
.garminconnect_base64

# Python cache
__pycache__/
*.pyc

*.json
firebase_key.json
secrets.toml

# Local test output
response.json
*.bak

# IDE files (optional)
.vscode/
.idea/
